# .gitignore

# Data
*.csv
processed_liputan6_train/
processed_liputan6_test/

# Model & Log
bert-summarizer-best-model/
bert-summarizer-results/
logs/

# Python cache
__pycache__/
*.pyc

# IDE
.vscode/
.idea/
